
/****************************** About section*********************/
.about{

}


.about-item{
    width:30%;
    float: left;
    text-align: center;
    padding: 50px 15px;
    border: 1px solid #e8e8e8;


}

.about-item:hover .about-item-title
{
    color:#fff;
}
.about-item .icon{
    color: #6195ff;
    margin-bottom: 10px;
}

.about-item.mg{
    margin: 0 5%;
}

.about-item-title {
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}

.about-item-desc{
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #999;
}

.about-item-link{
    color: #6195ff;
    text-transform: capitalize;
}
