
/******************************blog  section*********************/
.blog-section{
    background-color: #e8e8e8;
}  

.blog-content{
    overflow: hidden;
    margin-bottom: 50px;

}

.blog-item{
    float: left;
    width:30%;
    background-color: #fff;
 

}

.blog-item.mg{
    margin: 0 5%;
}


.blog-item-img img{
    width: 100%;
}


.blog-item-info{
    padding: 5px;
}

.blog-list {
    list-style: none;
    margin:10px 0;
    
}

.blog-item-list li{
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
}

.blog-item-list li i{
    color: #6195ff;
}

.blog-item-title{
    font-weight: bold;
    margin: 10px 0;
}

.blog-item-desc{
    color:#999;
    margin-bottom: 20px;
    line-height: 1.5;
}

.blog-item-link{
    color: #6195ff;
}