






/******************************footer-section*********************/

.footer-section{
    
    background-color: #1c1d23;
    text-align: center;
    padding: 60px;
}

.footer-section img{
    background-size: cover;
}

.footer-links{
    list-style: none;
}

.footer-links li{
    display: inline-block;
}

.footer-links li a{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #6195ff;
    color: #fff;
    margin: 0 5px;
    border-radius: 50%;

}

.footer-links li a i{
    line-height: 30px;
}

.footer-section .copy-right{
    text-transform: uppercase;
    margin-top: 20px;
    color:#999;

}
