/*
-sections styles.

1-General
2-Common
3-Header
4-Home
5-About
6-portofoilo
7-Offer
8-Service
9-Number
10-Pricing
11-Testmonial
12-Team
13-Blog
14-Contact
15-Footer
 

*/



/******************************General Styles************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
}
