
/******************************header section*********************/
.header{
    position:fixed;
    width:100%;
    z-index: 10;
    background: rgb(0,0,0,0.4);
    
}

.header .logo 
{
    width:40%;
    float:left;
}

.header .logo img{
    width: 30%;
    margin-top: 5px;
}


.header .nav
{
    width: 60%;
    float:left;
    text-align: right;
}

.header .nav > li{
    display: inline-block;
}

.header .nav > li > a{
    margin-top: 10px;
    list-style: none;
    color:white;
    padding:10px 3px;
    display: block;
    font-size: 12px;
    text-align: center;
    padding: 10px 8px;
     

}

.header .nav > li> a:after,.header .nav >li > a.activ:after
{
    content: "";
    display: block;
    height: 2px; 
    background-color: #6195ff;
    transition: width 0.5s;
    margin: 2px;

}

.header .nav > li > a.activ:after{
    width: 100%;
}

.header .nav > li > a:after{

    width: 0%;
}
.header .nav > li > a:hover:after{
    
    width: 100%;
    
}

.dropdown{
    position: relative;
}
.dropdown-menu{
position: absolute;
background: #6195ff;
width: 120px;
height: 40px;
text-align: center;
left:-50%;
top: 90%;
opacity: 0;
visibility: hidden;
transition: opacity 0.5s,  visibility 0.5s;
}

.dropdown-menu a{
    color: #fff;
    display: block;
    padding: 10px;
    
}


.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}