/****************************** Home section*********************/
.home{
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    position: relative;
}

.Over-layer{
    width: 100%;
    height: 100%;
    position:absolute;
    background-color:rgba(0, 0, 0, 0.5) ;
    top: 0;
    left: 0;
}

.Home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-size: em;
    width: 65%;

}

.home .title{
    color: #fff;
    font-size:40px;
    text-transform: uppercase;
}

.home .Home-desc
{
    margin: 20px 0;
    line-height:1.5;
}

.home .btn{
    width:150px;
    height:40px;
    padding:10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.home .btn-start
{
    margin-right: 20px;;
    background-color: white;
    text-transform: capitalize;
    
}

.home .btn-learn
{
    background-color:#6195ff;
    color: white;
    text-transform: capitalize;

}