/****************************** number section*********************/
.numbers-section{
    position: relative;
    background-image: url(../images/background/background2.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 200px;

}
.numbers-items{
    overflow: hidden;

}

.number-item
{
    width: 25%;
    float: left;
    text-align: center;
    padding:60px 0;

}

.number-item .icon{
    color: #6195ff;
    margin-bottom: 15px;
    
}
.number-item-title{
   font-weight: bold;
   font-size: 25px;
   color:white;
}

.number-item-text{
    color:white;
}