/****************************** offer section*********************/
.offer{

}

.offer-content{
    overflow: hidden;
}

.offer-item{
    width:30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding:20px 15px 30px 70px;
    position: relative;
    text-transform: capitalize;
}
.offer-item-title{
    margin-bottom: 15px;
    font-size: 15px;
    transition: color 0.5s;

}

.offer-item-desc{
    line-height: 1.5;
    font-size: 11px;

}
.offer-item.mg{
    margin: 0 5%;
}

.offer-item .icon{
    position: absolute;
    left: 15px;
    top: 20px;
    color:#6195ff;
}

.offer-item:hover .offer-item-title{
    color: white;
}
