

/****************************** service section*********************/
.service{
    background-color: #f9f9f9;
}

.service .header-section
{
    text-align: left;
}
.service-item{
    width:50%;
    float: left;
}




.service-item .header-section .line{
    margin:10px 0 70px 0;

}


.service-item-desc{
    padding-right: 20px;
    line-height: 1.4;
    font-size: 15px;
    color:#999;
    margin-bottom: 20px;
}

.service-item-list{
    list-style: none;
    color: #999;
}


.service-item-list i{
    margin-bottom: 20px;
}
.service-item-list li i{
    border: 1px solid #6195ff;
    color:#6195ff;
    padding:7px 5px;
    border-radius: 50%;
    
    
}
.service-item-img img{
    width: 100%;
}

.service-item-boltes{
    list-style: none;
    text-align: center;
}



.service-item-boltes li{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    margin:10px 5px;
}

.service-item-boltes li.activ{
    background-color: #6195ff;
}

.service-item-boltes li:hover{
    background-color: #6195ff;
}