
/****************************** testmonial section*********************/

.teatmonial-section{
    margin-top: 400px;
    position: relative;
    background-image: url(../images/background/background3.webp);
    height: 300px;
    background-size: cover;
    margin-bottom: 50px;
    background-attachment: fixed;
}


.testmonial-content{
    overflow: hidden;
    padding: 100px 0;
    width: 60%;
    margin: auto;
}

.testmonial-item{
    width: 50%;
    float: left;
    color: white;
    position: relative;

  
}


.testmonial-item .top-layer {
    padding: 10px 2px 10px 100px;
}



.testmonial-item .top-layer img{
position: absolute;
left: 10px;
top:10px;
border-radius: 50%;
}


.testmonial-item .top-layer h3{
    margin-bottom: 5px;
}



.testmonial-item .top-layer span{
    color: #6195ff;
}

.testmonial-item-desc{
    font-size: 15px;
    margin-top: 20px;
}

